.topbarContainer {
    height: 50px;
    width: 100%;
    background-color: #f7fbfd;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 20px;
    border-bottom: 1px solid #eadcff;
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color:#a976fc;
    cursor: pointer;
  }
  
  .topbarCenter {
    flex: 5;
  }
  
  .searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 3px solid #b5b9bd;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    border: none;
    width: 70%;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }
  
  .topbarLink {
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #a976fc;
    font-weight: 600;
    margin-right: 50px;
  }
  
  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 3px;
    border: 2.3px solid #8b67c2;
    object-fit: cover;
    cursor: pointer;
    margin: 0 20px;
  }